<h1>Your Pirate</h1>
<div class="pirate">
<h3>Name: <%= @pirate.name %></h3><br>
<h4>Weight: <%= @pirate.weight %></h3><br>
<h5>height: <%= @pirate.height %></h3><br>
</div>

<h2>Your First Ship</h2>
<div class="first_ship">
<h3>Name: <%= Ship.all[0].name %></h3><br>
<h4>Type: <%= Ship.all[0].type %></h3><br>
<h5>Booty: <%= Ship.all[0].booty %></h3><br>
</div>

<h2>Your Second Ship</h2>
<div class="first_ship">
<h3>Name: <%= Ship.all[1].name %></h3><br>
<h4>Type: <%= Ship.all[1].type %></h3><br>
<h5>Booty: <%= Ship.all[1].booty %></h3><br>
</div>